<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>메인페이지</title>
        <link rel="shortcut icon" href="#">
    </head>
    <style>
        .main_container {
            display:flex;
            flex-direction: column;

            text-align: center;
        }
    </style>
    <body>
        <div class="main_container">
            <h1>Chzzk Chatting Sentiment Cls</h1>
            
            {% if user_info == None %}
                <div class="auth_container">
                    <h2>로그인 하면 기능을 이용할 수 있어요</h2>
                    <a href="/user/login">로그인</a>
                    <a href="/user/register">회원가입</a>
                </div>
            {% elif user_info != None %}
                <p>{{user_info['username']}}님 반갑습니다.</p>
                <div class="content_container">
                    <div class="top20_host_container">
                        top20 방송 리스트 표기
                    </div>
                    <div class="chat_container">
                        웹소켓 연결 채팅 뜨기
                    </div>
                </div>
            {% endif %}
        </div>
    </body>
</html>