<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>메인페이지</title>
        <link rel="shortcut icon" href="#">
    </head>
    <script>
        async function login(){
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            // 데이터 객체 만들기
            const data = {
                email: email,
                password: password
            };

            try {
                // fetch로 데이터 보내기
                const response = await fetch('http://localhost:8000/user/login', {
                    credentials: 'include',
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'  // JSON 형식으로 보내기
                    },
                    body: JSON.stringify(data)  // 객체를 JSON 문자열로 변환하여 보내기
                });

                if (!response.ok) {
                    throw new Error('Request failed');
                }

                // 응답 처리
                const responseData = await response.json();
                console.log(responseData['status_code']);
                if (responseData['status_code'] == 200){
                    location.href = '/';
                }else{
                    alert(responseData['detail'])
                }

            } catch (error) {
                console.error('Error:', error);
            }
        }
    </script>
    <style>
        .main_container {
            display:flex;
            flex-direction: column;

            text-align: center;
        }

        .login_container {
            display:flex;
            flex-direction: column;
        }
    </style>
    <body>
        <div class="main_container">
            <h1>Login</h1>
            <div class="login_container">
                <label for="email">EMAIL</label>
                <input type="email" name="email" id="email">
                <label for="password">PASSWORD</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="login_submit">
                <button type="button" onclick="login()">로그인</button>
                <button type="button" onclick="location.href='/user/register'">회원가입</button>
                <button type="button" onclick="location.href='/'">돌아가기</button>
            </div>
        </div>
    </body>
</html>